node_modules
.git
.github
.vscode
.env
.env.*
Dockerfile.old
docker-compose.yml

Frontend/node_modules
Frontend/dist

Backend/vendor
Backend/storage/logs
Backend/storage/framework/cache
Backend/storage/framework/sessions
Backend/storage/framework/views